body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: left;
    margin-left: 33%;
}

ol {
    text-align: left;
}

.description {
    text-align: left;
}

/* font-family: 'Open Sans', sans-serif; */
