body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    text-align: left;
    margin-left: 33%;
}

ol {
    text-align: left;
}

#recipe-list {
    text-align: center;
    margin-right: 35%;
}

.description {
    text-align: left;
}


/* font-family: 'Open Sans', sans-serif; */
